body {
	background-image: url("../image/nature.jpg");
	margin: 0;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0;
	font-family: Times New Roman, Arial, Verdana;

}

figure {
	float: right;

	border: solid black;
	box-shadow: 2px 2px 4px black;
	
}

h1 {
	text-align: left;
	color: aliceblue;
}

h2,
p {
	color: rgb(244, 224, 224);
}

.soustitre {
	text-align: left;
}

li {
	list-style-type: square;
	/* Utilisez "square" pour des carrés */
	margin-bottom: 10px;
	/* Espace en bas de chaque élément */

}


#competences li {
    color: rgb(229, 153, 153);
    transition: color 0.3s; /* Ajoute une transition de couleur pour une animation fluide */
}

#competences li:hover {
    color: green; /* Changez la couleur en vert lorsque la souris survole l'élément */
}

footer {
	background-color: #3a3131;
	padding: 0px 0;
	color: #675ebb;
  }
  
  .container {
	max-width: 1000px;
	margin: 0 auto;
  }
  
  h4 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
  }
  
  p {
	font-size: 16px;
	margin-bottom: 10px;
  }
  
  .social-icons {
	display: flex;
  }
  
  .social-icons a {
	margin-right: 20px;
  }
  
  .social-icons img {
	width: 30px;
	height: 30px;
  }